<div class="well well-sm col-sm-offset-{{comment.nesting_level}}">
    {% with comment_item.value as comment %}
    {%if comment.is_hidden %}
    <div class="hidden-comment">This comment has been hidden by a moderator</div>
    {%else%}
    <div class="row"><span class="col-lg-4"><span class="author">{{comment.author}}</span>&nbsp; {{ comment.created }}</span></div> 
    <div class="row">&nbsp;</div>
    <div class="row"><div class="col-lg-12">{{comment.comment_body}}</div></div>
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-lg-1"><a class="replylink btn btn-sm" href="#" rel="{{comment.id}}"><span class="glyphicon glyphicon-comment"></span> Reply</a></div>

        {% if comment.author == user.username %}
          <div class="col-lg-4"><a class="editlink btn btn-sm" href="/comment/{{comment.id}}/"><span class="glyphicon glyphicon-edit"></span> Edit Comment</a>
          &nbsp;<a class="deletelink btn btn-sm" rel="{{comment.id}}"><span class="glyphicon glyphicon-trash"></span> Delete Comment</a></div>
        {% endif %}
      {%if user.is_staff %}
            <div class="col-lg-2"><a class="hidelink btn btn-sm" href="#" rel="{{comment.id}}"><span class="glyphicon glyphicon-eye-close"></span> Hide this comment</a></div>
      {% endif %}
    </div>
    {% endif %}
    {%endif%}

    {%endwith%}
</div>