{% extends "base.html" %}
{% load add_class %}
{% block title %}{{ title }}{% endblock %}

{% if errror %}
{% endif %}
{% block content %}
{% load i18n %}
  <form class="form-vertical " method="post" >{% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    <fieldset>
      <div id="legend" class="">
        <legend class="">{{ title }}</legend>
      </div>
        {{ form.non_field_errors }}
        {% for field in form.visible_fields %}
    <div class="form-group row{%if field.errors %} has-error{% endif %}">
          <!-- Text input-->
          <label class="control-label col-lg-2" for="{{ field.name }}">{{ field.label_tag }}</label>
          <div class="controls col-lg-10">
            {{ field|add_class:"form-control" }} {{ field.errors }}
            {% if mobile %} <p class="help-block">{{ field.help_text }}</p> {% endif %}
          </div>
        </div>
    {% endfor %}

        <div class="control-group">

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-primary">Submit</button>

          </div>
        </div>
        </fieldset>
  </form>
{%endblock%}
