{% extends "base.html" %}{% load i18n %}
{% block title %}Forums: Home{% endblock %}
{% block content %}
<header id="overview" class="jumbotron subhead logo">
  <h1>The Best Forums</h1>
  <p class="lead">Get your discussion on.</p>

</header>
      <div class="row-fluid">
          <div class="row">
          <div class="span8 hero-unit heroimage">
            <h2>Online Conversations easy!</h2>
            <p>This is the home page</p>
            </div>
            <div class="span4">
            </div>
        </div>
      </div>
{% endblock %}
