{% extends "base.html" %}{% load i18n %}
{% block title %}Wedding Planner: Home{% endblock %}
{% block content %}
<header id="overview" class="jumbotron subhead logo">
  <h1>The Best Forums</h1>
  <p class="lead">Get your discussion on.</p>

</header>
      <div class="row-fluid">
          <div class="row">
          <div class="span8 hero-unit heroimage">
            <h2>Online Conversations easy!</h2>
            <p>This is the home page</p>
            </div>
            <div class="span4">
            {% with "True" as compact %}
            {% endwith%}</div>
        </div>
      </div>

      <!-- Example row of columns >
      <div class="row">
        <div class="span4" id="venue">
          <h3>Featured Venue</h3>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
           <p>This is very angry text<br/>I'm not sure why it would be, it just is, man!</p>
          <p><a class="" href="#">Read more &raquo;</a></p>
        </div>
        <div class="span4">
          <h3>Gowns that Shine</h3>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="" href="#">Read more &raquo;</a></p>
       </div>
        <div class="span4">
          <h3>How tame your guest list</h3>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="" href="#">Read more &raquo;</a></p>
        </div>
      </div>
-->

      <div class="attribution">Image courtesy of Crowne Plaza Hollywood Beach Hotel (<a rel="nofollow" href="http://www.flickr.com/photos/cphollywoodbeach">Flickr</a>)</div>
{% endblock %}
