  {% load i18n %}
  {% load add_class %}
  <form class="form-horizontal{% if compact %} compact-sign-up-form{% endif %}" method="post" >{% csrf_token %}
    <fieldset>
      <div id="legend" class="">
        <legend class="">{% trans "Sign up" %}</legend>
      </div>
  	{{ form.non_field_errors }}
	{% for field in form.visible_fields %}
    <div class="form-group row{%if field.errors %} has-error{% endif %}">
          <!-- Text input-->
          <label class="control-label col-lg-2" for="{{ field.name }}">{{ field.label_tag }}</label>
          <div class="controls  col-lg-6">
            {{ field|add_class:"form-control" }} {{ field.errors }}
            {% if mobile %} <p class="help-block">{{ field.help_text }}</p> {% endif %}
          </div>
        </div>
    {% endfor %}

        <div class="control-group">

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-primary">{% trans 'Register' %}</button>

          </div>
        </div>
        </fieldset>
  </form>