{% load i18n %}
<form  class="form-horizontal login-form"  method="post" id="login-form">{% csrf_token %}
	{% if form.errors %}
	  {{ form.non_field_errors }}
	{% endif %}
    <fieldset>
  <div class="control-group">
    <label for="id_username">{% trans 'E-mail Address' %}</label>
        <input type="text" class="focus" name="username" id="id_username" />
  </div>
  <div class="control-group{% if form.password.errors %} error{% endif %}">
    <label for="id_password">{% trans 'Password' %}</label>
        <input type="password" name="password" id="id_password" />
        {{ form.password.errors }} 
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <p style="margin-left:114px;"><a href="/account/password/reset/">Forgot password?</a></p>
  </div>
  <div class="submit-row">
    <button class="btn btn-primary">{% trans 'Log in' %}</button>
  </div>
  </fieldset>
</form>