{% load staticfiles %}<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">


        <link rel="stylesheet" href="{% static "boots/css/bootstrap.min.css" %}">
          <style>
            body {
                padding-top: 80px;
                padding-bottom: 20px;
            }
            .errorlist {
                display: inline-block;
            }
            .author {
                font-weight: bold;
            }
            .hidden-comment{
                font-style: italic;
            }
        </style>  
<!--
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">


        <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css"%}">

        <script src="{% static "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"%}"></script>
    -->

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Demo Forum</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/topics">Latest Topics</a></li>
            {% if user.is_authenticated %}
                <li><a href="/submit/topic">Submit new Topic</a></li>
            {% endif %}
            </li>
          </ul>
          {% if user.is_authenticated %}
          <div class="navbar-form navbar-right">
              <div class="form-group"><a href="#">{{user.username}}</a></div>
              <div class="form-group"><a class="btn btn-primary" href="/accounts/logout/">Logout</a></div>
          </div>
        {% else %}
          <form class="navbar-form navbar-right" action="/accounts/login/" method="post">
              {%  csrf_token %}
            <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
            <a class="btn btn-primary" href="/register/">Register</a>
          </form>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>


    <div class="container">
    {% block breadcrumb %}{% endblock %}
    {% block submenu %}
    {% endblock %}
    {% block messages %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}"><a class="close" data-dismiss="alert">×</a>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endblock %}
    {% block content %}
    {% endblock %}

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->
    <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.10.1.min.js"%}"><\/script>')</script>

        <script src="{% static "boots/js/bootstrap.min.js"%}"></script>

<!--        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.10.1.min.js"%}"><\/script>')</script>
  
        <script src="{% static "js/vendor/bootstrap.min.js"%}"></script>

        <script src="{% static "js/main.js"%}"></script>
-->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        {% block javascript %}{% endblock %}
    </body>
</html>
